/* for html and body tag */
html,body{position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
/* body width */
body{
   
    width: 1200px;
}
/* main div that contain menu links */

.main-div{
    width:1400px;
    background: white;
    border-bottom: 4px solid #cccccc;
}
/* header */

.header1{
    width: 960px;
    margin-left: 175px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    
    
}
/* div1 that shows a name on menu bar */
.div1{
    background: #4aaaa5;
    width: 335px;
    height: 100px;

}

/* text that in menu bar shows a name */
.h11{
   
    font-size: 42px;
    position: absolute;
    top: 7%;
    left: 28.5%;
    margin-right: -70%;
    transform: translate(-50%, -50%); 
    color:white;
}
/* button position */
.button-posi{
    margin-left:780px;
    position: absolute;
    top: 7%;
    left: 18%;
    margin-right: -70%;
    transform: translate(-50%, -50%); 
    
}

/* button */
.btn{
    font-size: 26px;
    width: 375px;
    
}
/* font that shows link */
.font1{
    text-decoration: none;
    color: #777777;
}
/* text in div2 */
.main-div2{
    width:960px;
    margin-left: 175px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* main containt */
.main-cont{
    width: 960px;
    height:400px;
    margin-top: 10px;
    margin-bottom: 40px;
    background: #ffffff;
    border: 2px solid #dddddd;
}
/* boxes in form */
.boxform1{
    width:860px;
}

/* heading */
.h12{
    width: 860px;
    color: #4aaaa5;
    font-size: 30px;
    margin-left: 50px;
    border-bottom: 2px solid #cccccc;
}
/* form */
.form1{
    margin-left: 50px;
}
/* images in portfolio */
.img{
    width: 200px;
    height:200px;
    margin-left: 50px;
    margin-top: 20px;
    float: left;
    padding: 0 20px 20px 0;
}

.img1{
    width: 180px;
    height:120px;
    margin-left: 50px;
    margin-top: 20px;
    float: left;
    padding: 0 20px 20px 0;
}
/* text bar on images */
.box1{
        width:180px;
        height:35px;
        background: #4aaaa5;
        position: absolute;
        top:270px;
        left:226px;

}
.box2{
    width:180px;
    height:35px;
    background: #4aaaa5;
    position: absolute;
    top:270px;
    left:476px;

}
.box3{
    width:180px;
    height:35px;
    background: #4aaaa5;
    position: absolute;
    top:270px;
    left:726px;

}
.box4{
    width:180px;
    height:35px;
    background: #4aaaa5;
    position: absolute;
    top:430px;
    left:226px;

}
.box5{
    width:180px;
    height:35px;
    background: #4aaaa5;
    position: absolute;
    top:430px;
    left:480px;

}
.box-div-h1{
    color: white;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top:10px;
}
.img2{
    width: 180px;
    height:120px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 0 20px 20px 0;
}
/* for link */
.a1{
    color: #777777;
    text-decoration: none;
}
/* for dtails in profiles */
.p1{
    margin-left: 20px;
    margin-top: 20px;
    width: 670px;
    float: left;
    font-size: 22px;
    color:gray;
}
.p2{
    width: 960px;
    font-size: 22px;
    color:gray;
}
/* footer */
.footer1{

    border-top: 3px solid #4aaaa5;
    background: #666666;
    width: 1400px;
    height:80px;
    color: white;
    text-align: center;
}
/* footer fonts */
.footfont
{
    text-align: center;
vertical-align: bottom;
line-height: 120px;

}
/* contact form fonts */
.con-fonts{
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
/* button of contact page */
.con-btn{
    background-color: #4aaaa5;
    color:white;
    width: 120px;
    height: 35px;
}
/* hover effect on button */
.btnh:hover{
    background: blue;
}
.wrap {
    /* Box-model */
    width:100%;
  
    /* Positioning */
    margin: 40 auto;
  }
  




/*
  These rules take effect when the browser's width
  is either 768px or less.
*/

  @media only screen and (max-width: 980px) {
    

    .header1{
        width: 30%;
        margin-left:0px;
    }
   .h11{
    padding:0px;
    margin-left:0px;
    width: 30%;
    position: absolute;
    top: 7%;
    left: 18.5%;
    margin-right: -70%;
    transform: translate(-50%, -50%); 
   }
   .div1{
       
       margin-left:23px;
   }
  .btn{
      width: 100%;
  }
  .button-posi{
    margin-left:500px;
    position: absolute;
    top: 7%;
    left: 25%;
    margin-right: -70%;
    transform: translate(-50%, -50%); 
  }
.main-cont, .main-div2{
    margin-left: 10px;
}
.h12 {
    width: 90%;
}
.main-div2, .main-cont{
    width:78%;
    height: 550px;
}
.img{
    height: 250px;
}
.p1{
    font-size: 23px;
    margin-top: 5px;
    float:left;
    width: 60%;
}
.p2{
    font-size: 23px;
    width: 100%;
    margin-top: 5px;
}
.footer1{
    width:90%;
}


/* Portfolio */
.box1{
    width:180px;
    height:35px;
    background: #4aaaa5;
    position: absolute;
    top:270px;
    left:73px;

}
.box2{
width:180px;
height:35px;
background: #4aaaa5;
position: absolute;
top:270px;
left:322px;

}
.box3{
width:180px;
height:35px;
background: #4aaaa5;
position: absolute;
top:430px;
left:72px;

}
.box4{
width:180px;
height:35px;
background: #4aaaa5;
position: absolute;
top:430px;
left:322px;

}
.box5{
width:180px;
height:35px;
background: #4aaaa5;
position: absolute;
top:595px;
left:72px;

}

/* Contact */

.boxform1{
    width: 95%;
    border:1px solid gray;
}
  }

  @media only screen and (max-width: 768px) {
    

    .header1{
        width: 30%;
        margin-left:0px;
    }
   .h11{
    padding:0px;
    margin-left:0px;
    width: 30%;
    position: absolute;
    top: 7%;
    left: 18.5%;
    margin-right: -70%;
    transform: translate(-50%, -50%); 
   }
   .div1{
       
       margin-left:23px;
   }
  .btn{
      width: 100%;
  }
  .button-posi{
    margin-left:300px;
    position: absolute;
    top: 7%;
    left: 25%;
    margin-right: -70%;
    transform: translate(-50%, -50%); 
  }
.main-cont, .main-div2{
    margin-left: 10px;
}
.h12 {
    width: 90%;
}
.main-div2, .main-cont{
    width:78%;
    height: 550px;
}
.img{
    height: 250px;
}
.p1{
    font-size: 23px;
    margin-top: 5px;
    float:left;
    width: 60%;
}
.p2{
    font-size: 23px;
    width: 100%;
    margin-top: 5px;
}
.footer1{
    width:70%;
}


/* Portfolio */
.box1{
    width:180px;
    height:35px;
    background: #4aaaa5;
    position: absolute;
    top:270px;
    left:73px;

}
.box2{
width:180px;
height:35px;
background: #4aaaa5;
position: absolute;
top:270px;
left:322px;

}
.box3{
width:180px;
height:35px;
background: #4aaaa5;
position: absolute;
top:430px;
left:72px;

}
.box4{
width:180px;
height:35px;
background: #4aaaa5;
position: absolute;
top:430px;
left:322px;

}
.box5{
width:180px;
height:35px;
background: #4aaaa5;
position: absolute;
top:595px;
left:72px;

}

/* Contact */

.boxform1{
    width: 95%;
    border:1px solid gray;
}
  }
  
  @media only screen and (max-width: 640px){
   .header1{
    width: 100%;
    margin-left:0px;
        }
.h11{
padding:0px;
margin-left:0px;
width: 30%;
position: absolute;
top: 7%;
left: 30.5%;
margin-right: -70%;
transform: translate(-50%, -50%); 
}
.div1{
   margin-left: 0px;
width: 800px;
}
.btn{
  width: 100%;
}
.button-posi{
margin-left:40px;
position: absolute;
top: 20%;
left: 25%;
margin-right: -70%;
transform: translate(-50%, -50%); 
}
.main-cont, .main-div2{
margin-left: 10px;
margin-top: 50px;
}
.h12 {
width: 90%;
}
.main-div2, .main-cont{
width:70%;
height: 500px;
}
.img{
height: 180px;
width: 70%;
margin-left: 70px;
}
.img1{
height: 95px;
}
.img2{
height: 95px;
}
.p1{
font-size: 15px;
margin-top: 15px; 
width: 90%;
}
.p2{
font-size: 15px;
width: 90%;
margin-top: 200px;
margin-left: 20px;
}
.footer1{
width:55%;
}


/* Portfolio */
.box1{
width:180px;
height:30px;
background: #4aaaa5;
position: absolute;
top:290px;
left:73px;

}
.box2{
width:180px;
height:30px;
background: #4aaaa5;
position: absolute;
top:290px;
left:322px;

}
.box3{
width:180px;
height:30px;
background: #4aaaa5;
position: absolute;
top:430px;
left:72px;

}
.box4{
width:180px;
height:30px;
background: #4aaaa5;
position: absolute;
top:430px;
left:322px;

}
.box5{
width:180px;
height:30px;
background: #4aaaa5;
position: absolute;
top:570px;
left:72px;

}

/* Contact */

.boxform1{
width: 95%;
border:1px solid gray;
}
}